.paymentElement {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.paymentElement form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  border: 0.5px solid rgba(0, 0, 0, 0.25);
  padding: 30px;
  border-radius: 7px;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2), 2px 2px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.2), 2px 2px 7px rgba(0, 0, 0, 0.3);
}

.paymentElement form header {
  color: #2e018a;
  font-size: 20px;
  width: 100%;
  text-align: center;
}

.paymentElement form input {
  width: 100%;
  color: #e40385;
  border: none;
  padding: 5px;
  font-size: 16px;
}

.paymentElement form input:focus {
  outline: none;
}

.paymentElement form .StripeElement {
  width: 100%;
}

.paymentElement form button {
  width: 100%;
  padding: calc(2 * 5px);
  background: #e40385;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 500;
}

.paymentElement form button:focus {
  outline: none;
}

.donationSelectionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}

.selectAmount {
  padding: 5px calc(2 * 5px);
  border: 0.5px solid rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  font-weight: 500;
  color: #2e018a;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1), 2px 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1), 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.selectAmount:hover {
  color: #e40385 !important;
  background: #fff !important;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.selectAmount input {
  display: none;
}
