$purple: #2e018a;
$pink: #e40385;
$black: #000;
$grey: #9790a4;
$padding: 5px;

.paymentElement{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        //gap: 1.5rem; -- FIXME: Doesn't work on Safari / iOS
        border: 0.5px solid rgba(0,0,0,0.25);
        padding: 30px;
        border-radius: 7px;
        box-shadow: 
            0 0 30px rgba(0, 0, 0, 0.2), 
            2px 2px 7px rgba(0, 0, 0, 0.3);

        // FIXED - flex gap incompatability issue
        * {
            margin: 0.75rem 0.5rem;
        }
        
        header{
            color: $purple;
            font-size: 20px;
            width: 100%;
            text-align: center;
        }

        input{
            width: 100%;
            color: $pink;
            border: none;
            padding: $padding;
            font-size: 16px;
            &:focus{
                outline: none;
            }
            &::placeholder{
                color: $grey;
                font-style: italic;
            }
            &:-webkit-autofill{
                box-shadow: 0 0 0 50px white inset;
                -webkit-text-fill-color: $pink;
            }
        }

        .StripeElement{
            width: 100%;
        }

        button{
            width: 100%;
            padding: calc(2 * #{$padding});
            background: $pink;
            color: #fff;
            border: none;
            border-radius: 3px;
            font-size: 16px;
            font-weight: 500;
            &:focus{
                outline: none;
            }
        }

        .smallLabelText{
            width: 100%;
            padding: $padding;
            font-size: 12px;
            font-style: italic;
            color: $grey;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
            span{
                display: inline-block;
            }
            input[type="checkbox"]{
                -webkit-appearance: none;
                width: 15px;
                height: 15px;
                border: 1px solid $purple;
                border-radius: 3px;
                &:checked{
                    background: $purple;
                }
                &:hover{
                    transform: scale(1.05);
                }
            }
        }
    }
}

.donationSelectionContainer{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.selectAmount{
    padding: $padding calc(2 * #{$padding});
    border: 0.5px solid rgba(0,0,0,0.25);
    border-radius: 3px;
    font-weight: 500;
    color: $purple;
    box-shadow: 
        0 0 20px rgba(0,0,0,0.1),
        2px 2px 5px rgba(0,0,0,0.2);
    &:hover{
        transform: scale(1.05);
    }

    input {
        display: none;
    }
}